<div class="modal fade" id="modal-delete-exercises">
    <div class="modal-dialog modal-danger">
        <div class="modal-content modal-danger">

            <div class="modal-header">
                <h4 class="modal-title">{{ 'commons.confirmation' | translate }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="text-center">
                    {{ 'commons.delete-exercise' | translate }} <strong>{{ exerciseSelected.name }}</strong>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'commons.close' | translate }}
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteExercise()">
                    {{ 'commons.delete' | translate }}
                </button>

            </div>

        </div>
    </div>
</div>
