# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
src/test/
target/archive-tmp/
target/generated-sources/
target/heroku/app/target/archive-tmp/
target/heroku/app/target/generated-sources/
