<div class="modal fade" id="modal-show-detail">
    <div class="modal-dialog modal-success modal-lg">
        <div class="modal-content modal-success">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ 'commons.detail' | translate }}
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="col-lg-12">

                    <img src="{{userSelectedDetail.picture}}" class="img-avatar pull-right"
                         style="height: 50px; width: auto" alt="{{userSelectedDetail.email}}">

                    <h4> {{ userSelectedDetail.name.concat(' ',userSelectedDetail.lastName) }}
                        <small class="text-capitalize"><i> - ({{userSelectedDetail.role}})</i> </small>
                    </h4>
                    <br>
                    <div class="col-lg-12">
                        <div class="row">
                            <h6 class="col-lg-12">{{'commons.user-info' | translate }}:</h6>

                            <div class="col-lg-9">

                                <div class="col-lg-12">
                                    {{'commons.email' | translate }}:
                                    {{userSelectedDetail.email}}
                                </div>

                                <div class="col-lg-12">
                                    {{'commons.frecuency-exercise' | translate }}:
                                    {{userSelectedDetail.userInfo.frecuencyExercise}}
                                </div>

                                <br>
                                <h5>
                                    {{'commons.goal' | translate }}:
                                    <div class="pull-right">
                                        {{getUserInfoParsed().goal.type}}
                                    </div>
                                </h5>

                                <div class="col-lg-12">

                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-4 text-lef">
                                            <span class="badge badge-danger">
                                              {{getUserInfoParsed().initialWeight}}
                                            </span>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                             <span class="badge badge-primary">
                                              {{getUserInfoParsed().currentFat}}
                                            </span>
                                            </div>
                                            <div class="col-lg-4 text-right">
                                             <span class="badge badge-success">
                                              {{getUserInfoParsed().goal.goalFat + 'kg.'}}
                                            </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="progress margin-light">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                             role="progressbar"
                                             style="width: {{getPercentGoalCompleted().completed}}%;"
                                             aria-valuenow="{{getPercentGoalCompleted().current}}"
                                             aria-valuemin="{{getPercentGoalCompleted().initial}}"
                                             aria-valuemax="{{getPercentGoalCompleted().goal}}">
                                            {{getPercentGoalCompleted().completed + '%'}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h5 class="text-center">
                                    {{'commons.height' | translate }}
                                </h5>
                                <div class="text-center">
                                    {{getUserInfoParsed().height}}
                                </div>
                                <div class="col-lg-12">

                                    <img class="img-fluid" src="img/person-height.png">
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>

                    <div class="nav-tabs-boxed">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#routines" role="tab"
                                   aria-controls="home" aria-selected="true">
                                    {{ 'commons.routines' | translate }}
                                </a></li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#training-session" role="tab"
                                   aria-controls="profile" aria-selected="false">
                                    {{ 'commons.training-session' | translate }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#progress" role="tab"
                                   aria-controls="profile" aria-selected="false">
                                    {{ 'commons.progress' | translate }}
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="routines" role="tabpanel"
                                 style="height: 400px; overflow-y: scroll">
                                <div class="col-lg-12"
                                     ng-repeat="item in userSelectedDetail.userRoutines">
                                    <div>
                                        <h5 class="text-capitalize">
                                            {{item.routineTemplate.name}}
                                        </h5>
                                        <hr>
                                        <p>
                                            {{'commons.description' | translate}}:
                                            {{item.routineTemplate.description}}
                                        </p>

                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    {{'commons.exercise' | translate}}
                                                    <div class="margin-light"
                                                         ng-repeat="exercise in item.routineTemplate.workoutExercises">
                                                        <i class="fa fa-circle text-info"></i>&nbsp;
                                                        {{ 'difficulty.'+exercise.difficulty | translate }}
                                                        - {{ exercise.name}}
                                                        {{ 'workout-exercise.'+exercise.type | translate }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    {{'commons.nutrition' | translate}}

                                                    <div class="margin-light"
                                                         ng-repeat="nutrition in item.routineTemplate.mealNutritions">
                                                        <i class="fa fa-circle text-success"></i>&nbsp;
                                                        {{ 'meal-nutrition.'+nutrition.type | translate }}
                                                        - {{ nutrition.name }}
                                                        ({{ nutrition.calories}} {{'commons.calories' | translate }})
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="tab-pane" id="training-session" role="tabpanel" style="height: 400px;
                            overflow-y: scroll">
                                <div class="accordion" id="accordion" role="tablist">
                                    <div class="card mb-0"
                                         ng-repeat="item in userSelectedDetail.userInfo.trainingSession">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#training-session-{{item.id}}"
                                                   aria-expanded="true" aria-controls="collapseOne">
                                                    {{item.date}}
                                                    <div class="pull-right">
                                                        {{ getTotalParsed(item).calories}}cal /
                                                        {{ getTotalParsed(item).meters}}m
                                                    </div>
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="training-session-{{item.id}}" role="tabpanel"
                                             aria-labelledby="headingOne" data-parent="#accordion" style="">
                                            <div class="card-body">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-6 text-center">
                                                            <h5>
                                                                {{'commons.nutrition' | translate}}
                                                            </h5>
                                                            <hr>
                                                            <h5>
                                                                {{'commons.calories-total' | translate}}
                                                            </h5>
                                                            <strong>
                                                                {{ getTotalParsed(item).calories}}
                                                            </strong>
                                                            <hr>
                                                            <div class="text-capitalize"
                                                                 ng-repeat="nutrition in item.nutritionSessions">
                                                                <strong>
                                                                    ({{'meal-nutrition.'+nutrition.type | translate }})
                                                                </strong>
                                                                {{ nutrition.name }} - {{ nutrition.calories }}cal
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-6 text-center">
                                                            <h5>
                                                                {{'commons.running-session' | translate}}
                                                            </h5>
                                                            <hr>
                                                            <h5>
                                                                {{'commons.distance-covered-total' | translate }}:
                                                            </h5>
                                                            <strong>
                                                                {{ getTotalParsed(item).meters}}
                                                            </strong>
                                                            <hr>
                                                            <div class="text-capitalize"
                                                                 ng-repeat="running in item.runningSessions">

                                                                <strong>
                                                                    {{ running.timestamp }} -
                                                                    ({{'scoring-type.'+running.scoring | translate }})
                                                                </strong>

                                                                {{'commons.distance-covered' | translate }}:

                                                                <strong>
                                                                    {{ running.runningSession.distanceCovered }}m
                                                                </strong>

                                                                <br>
                                                                {{'commons.total-time-walk' | translate }}:
                                                                {{ running.runningSession.totalTimeWalk }}s
                                                                <br>

                                                                {{'commons.speed-avg' | translate }}:
                                                                {{ running.runningSession.speedAvg }}m/s

                                                                <br>

                                                                {{'commons.pace' | translate }}:
                                                                {{ running.runningSession.pace }}
                                                                <hr>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane active" id="progress" role="tabpanel"
                                 style="height: 400px; overflow-y: scroll">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <canvas id="progressRunning" width="300"
                                                    height="300"></canvas>
                                        </div>
                                        <div class="col-lg-6">
                                            <canvas id="progressNutrition" width="300" height="300"></canvas>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'commons.close' | translate }}
                </button>
            </div>

        </div>
    </div>
</div>
