<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.routines">
                <i class="fa fa-calendar"></i>
                {{ 'commons.routines' | translate }}
            </a>
        </li>
        <li class="divider"></li>

        <li class="nav-title">
            {{ 'commons.administration' | translate }}
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.nutritions">
                <i class="fa fa-book"></i>
                {{ 'commons.nutritions' | translate }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.exercises">
                <i class="fa fa-heartbeat"></i>
                {{ 'commons.exercises' | translate }}
            </a>
        </li>
    </ul>
</nav>
</div>