<div class="row">
    <div class="col-lg-12">
        <h4> {{ 'commons.routine-template' | translate }} </h4>
        <div class="input-group">

            <select class="form-control" ng-model="routine.add.routineTemplate">

                <option value="new" selected>
                    {{'commons.new' |translate}} {{ 'commons.routine-template' | translate }}
                </option>
                <option value="1"> Prueba</option>

            </select>

        </div>
    </div>
</div>
<br>

<div ng-show="routine.add.routineTemplate == 'new'" class="row">
    <div class="col-lg-6">
        <h4> Ejercicios </h4>
        <div class="input-group">

            <input type="text" class="form-control" list="exerciseList">
            <datalist id="exerciseList">
                <option value="Boston">
                <option value="Cambridge">
            </datalist>
            <button type="button" class="btn btn-primary">
                <li class="fa fa-plus"></li>
            </button>

        </div>
        <br>

        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary margin-light">
                    Ejercicio
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h4> Dietas </h4>


        <div class="input-group">

            <input type="text" class="form-control" list="nutritionList">
            <datalist id="nutritionList">
                <option value="Boston">
                <option value="Cambridge">
            </datalist>
            <button type="button" class="btn btn-success">
                <li class="fa fa-plus"></li>
            </button>

        </div>
        <br>

        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>
                <button type="button" class="btn btn-sm btn-outline-success margin-light">
                    Dieta
                </button>

            </div>
        </div>
    </div>
</div>


<div ng-show="routine.add.routineTemplate != 'new'" class="row">
    <div class="col-lg-6">
        <h4> Ejercicios </h4>

        <div class="container">
            <div class="row">
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-info"></i>&nbsp; Ejercicio
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h4> Dietas </h4>


        <div class="container">
            <div class="row">
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
                <div class="margin-light">
                    <i class="fa fa-circle text-success"></i>&nbsp; Dieta
                </div>
            </div>
        </div>
    </div>
</div>