<header class="app-header navbar" ng-controller="navbarController">
    <button class=" navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" ui-sref="app.dashboard"></a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">
                <span class="navbar-toggler-icon"></span>
            </a>
        </li>

        <li class="nav-item px-3">
            <a class="nav-link" ui-sref="app.dashboard">
                {{ 'menu.dashboard' | translate }}
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" ui-sref="app.routines">
                {{ 'menu.routines' | translate }}
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" ui-sref="app.users">
                {{ 'menu.users' | translate }}
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto d-md-down-none" style="margin-right: 20px">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <img src="{{userJWT.picture}}" class="img-avatar" alt="{{userJWT.email}}">
                {{userJWT.nickname}}
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <div class="dropdown-header text-center">
                    <strong>{{ 'commons.menu' | translate }}</strong>
                </div>


                <a class="dropdown-item" href="#" ng-click="logout()"><i class="fa fa-lock"></i>
                    {{ 'commons.logout' | translate }}
                </a>
            </div>
        </li>
    </ul>
</header>
