<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-edit"></i>
            {{ 'commons.users' | translate }}
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row">
                    <button class="btn btn-primary" ng-click="refreshData()" style="margin-left:20px">
                        <li class="fa fa-refresh"></li>
                        {{ 'commons.refresh' | translate}}
                    </button>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered datatable dataTable no-footer"
                               role="grid" style="border-collapse: collapse !important" ng-if="userList.length > 0">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending"
                                    style="width: 300px;">
                                    {{ 'commons.name' | translate}}
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 35px;">
                                    {{ 'commons.genre' | translate }}
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 35px;">
                                    {{ 'commons.height' | translate}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 35px;">
                                    {{ 'commons.initial-weight' | translate}}
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 35px;">
                                    {{ 'commons.current-fat' | translate}}
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 35px;">
                                    {{ 'commons.frecuency-exercise' | translate}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Actions: activate to sort column ascending"
                                    style="width: 60px;">
                                    {{ 'commons.actions' | translate}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr role="row" class="odd" ng-repeat="userItem in userList">

                                <td class="sorting_1">

                                    <img src="{{userItem.picture}}"
                                         class="img-avatar margin-light-horizontal"
                                         style="height: 40px; width: auto"
                                         alt="{{userItem.email}}">
                                    {{ userItem.name }} <i>({{userItem.role}})</i>
                                </td>
                                <td>{{ userItem.genre ? userItem.genre : 'N/A'}}</td>
                                <td>{{ userItem.userInfo.height ? userItem.userInfo.height : 'N/A'}}</td>
                                <td>{{ userItem.userInfo.initialWeight ? userItem.userInfo.initialWeight : 'N/A' }}</td>
                                <td>{{ userItem.userInfo.currentFat ? userItem.userInfo.currentFat : 'N/A'}}</td>
                                <td>{{ userItem.userInfo.frecuencyExercise ? userItem.userInfo.frecuencyExercise
                                    :'N/A'}}
                                </td>

                                <td>
                                    <a class="btn btn-outline-success" href="#" data-toggle="modal"
                                       ng-click="showDetailUser(userItem)"
                                       data-target="#modal-show-detail">
                                        <i class="fa fa-search-plus "></i>
                                    </a>

                                    <a class="btn btn-outline-info" href="#" data-toggle="modal"
                                       ng-click="showUserExperiences(userItem)"
                                       data-target="#modal-send-tip">
                                        <i class="fa fa-comments "></i>
                                    </a>
                                    <a class="btn btn-outline-dark" href="#" data-toggle="modal"
                                       ng-click="showRoutinesForAssign(userItem)"
                                       data-target="#modal-set-routine">
                                        <i class="fa fa fa-calendar"></i>
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-12 text-center" ng-if="userList.length < 1">
                    <div ng-include="'views/components/fragments/no-result.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/components/modals/users/modal-set-routine.html'"></div>
<div ng-include="'views/components/modals/users/modal-send-tip.html'"></div>
<div ng-include="'views/components/modals/users/modal-show-detail.html'"></div>

