<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-edit"></i>
            {{ 'commons.users' | translate }}
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length col-lg-6">
                            <div class="input-group" style="width: 100px; display: inline-flex">
                                <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                </div>
                                <select aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <a class="btn btn-success" href="#" data-toggle="modal"
                               data-target="#modal-add-routines" style="margin-left:20px">
                                <li class="fa fa-plus"></li>
                                {{ 'commons.new' | translate}}

                            </a>
                        </div>

                    </div>

                    <div class="col-sm-12 col-md-6 ">
                        <div class="dataTables_length pull-right">
                            <div class="input-group" style="width: 300px">
                                <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-search"></i>
                                        </span>
                                </div>
                                <input type="search" class="form-control form-control-sm"
                                       placeholder="" aria-controls="DataTables_Table_0">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered datatable dataTable no-footer"
                               role="grid" style="border-collapse: collapse !important" ng-if="userList.length > 0">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending"
                                    style="width: 300px;">
                                    {{ 'commons.name' | translate}}
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 35px;">
                                    {{ 'commons.genre' | translate }}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 35px;">
                                    {{ 'commons.weight' | translate}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 35px;">
                                    {{ 'commons.height' | translate}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 35px;">
                                    {{ 'commons.goals' | translate}}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Actions: activate to sort column ascending"
                                    style="width: 60px;">
                                    {{ 'commons.actions' | translate}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr role="row" class="odd" ng-repeat="userItem in userList">
                                <td class="sorting_1">
                                    {{ userItem.name }}
                                </td>
                                <td>{{ userItem.genre }}</td>
                                <td>{{ userItem.userInfo.height }}</td>
                                <td>{{ userItem.userInfo.weight }}</td>
                                <td>{{ userItem.userInfo.goal }}</td>

                                <td>
                                    <a class="btn btn-outline-info" href="#" data-toggle="modal"
                                       ng-click="setUserSelected(userItem)"
                                       data-target="#modal-send-tip">
                                        <i class="fa fa-comments "></i>
                                    </a>
                                    <a class="btn btn-outline-success" href="#" data-toggle="modal"
                                       ng-click="setUserSelected(userItem)"
                                       data-target="#modal-show-detail">
                                        <i class="fa fa-dashboard"></i>
                                    </a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                        <div class="alert alert-light text-center" role="alert"
                             ng-if="userList.length <= 0 && cfpLoadingBar.complete()">
                            <h2>{{ 'commons.no-results' | translate}}</h2>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="userList.length > 0">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                            Showing 1 to 10 of 32 entries
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled"
                                    id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0"
                                                                        data-dt-idx="0" tabindex="0" class="page-link">
                                    {{ 'commons.previous' | translate }}

                                </a>
                                </li>
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0"
                                       class="page-link">1</a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"
                                       class="page-link">2</a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0"
                                       class="page-link">3</a>
                                </li>
                                <li class="paginate_button page-item">
                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0"
                                       class="page-link">4</a>
                                </li>
                                <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0"
                                       class="page-link">
                                        {{ 'commons.next' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-include="'views/components/modals/users/modal-send-tip.html'"></div>
<div ng-include="'views/components/modals/users/modal-show-detail.html'"></div>
