<div class="modal fade" id="modal-show-routines">
    <div class="modal-dialog modal-info modal-lg">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <h4 class="modal-title">
                    Titulo de la rutina -
                    <small> {{ 'commons.information' | translate }}</small>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.

                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h4> Ejercicios </h4>
                        <br>

                        <div class="container">
                            <div class="row">
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-primary margin-light">Standard Button
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4> Dietas </h4>
                        <br>

                        <div class="container">
                            <div class="row">
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                                <button type="button" class="btn btn-sm btn-success margin-light">Standard Button
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'commons.close' | translate }}
                </button>
            </div>

        </div>
    </div>
</div>
