<div class="modal fade" id="modal-add-routines">
    <div class="modal-dialog modal-success modal-lg">
        <div class="modal-content modal-success">

            <div class="modal-header">
                <h4 class="modal-title">{{ 'commons.new' | translate }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div ng-form="formValidation">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="fa fa-info"></i>
                        </span>
                        </div>
                        <input type="text" class="form-control" ng-model="routineModelAdd.name"
                               required placeholder="{{ 'commons.insert-name' | translate}}">

                    </div>
                    <div class="pull-right" ng-show="!routineModelAdd.name || routineModelAdd.name == ''">
                        <small class="text-warning">
                            <strong>Obligatorio</strong>
                        </small>
                    </div>

                    <br>

                    <h5>{{ 'commons.description' | translate }}</h5>
                    <textarea id="textarea-input" name="textarea-input" ng-model="routineModelAdd.description" rows="9"
                              required maxlength="255" class="form-control"
                              placeholder="{{ 'commons.insert-description' | translate }}"
                              style="margin-top: 0px; margin-bottom: 0px; height: 196px;"></textarea>
                    <div class="pull-right" ng-show="!routineModelAdd.description || routineModelAdd.description == ''">
                        <small class="text-warning">
                            <strong>Obligatorio</strong>
                        </small>
                    </div>
                    <br>
                    <hr>

                    <div class="row">
                        <div class="col-lg-6">
                            <h5>{{ 'commons.goal-type' | translate }}</h5>
                            <select class="form-control" ng-model="routineModelAdd.goalType" required>
                                <option value="{{ item }}" ng-repeat="item in goalType">
                                    {{ 'goal-type.'+item | translate }}
                                </option>
                            </select>
                            <div class="pull-right"
                                 ng-show="!routineModelAdd.goalType || routineModelAdd.goalType == ''">
                                <small class="text-warning">
                                    <strong>Obligatorio </strong>
                                </small>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h4> {{ 'commons.exercises' | translate }} </h4>
                            <div class="input-group">
                                <select class="form-control" ng-model="routineAdd.workoutExercises" required>
                                    <option value={{exerciseItem}} ng-repeat="exerciseItem in exerciseList">
                                        {{exerciseItem.name}}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-primary" ng-click="addExercise('create')">
                                    <li class="fa fa-plus"></li>
                                </button>

                            </div>
                            <div ng-show="routineModelAdd.workoutExercises.length < 1">
                                <small class="text-danger">
                                    <strong>Importante,</strong> está creando una rutina sin ejercicios.
                                </small>
                            </div>
                            <br>

                            <div class="container">
                                <div class="row">
                                    <button type="button" class="btn btn-sm btn-outline-primary margin-light"
                                            ng-repeat="exerciseItem in routineModelAdd.workoutExercises"
                                            ng-click="removeExercise(exerciseItem.id, 'create')">
                                        {{ exerciseItem.name | cut:true:20:'...' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4> {{ 'commons.nutritions' | translate }}</h4>
                            <div class="input-group">
                                <select class="form-control" ng-model="routineAdd.mealNutritions" required>
                                    <option value={{nutritionItem}} ng-repeat="nutritionItem in nutritionList ">
                                        {{nutritionItem.name}}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-success" ng-click="addNutrition('create')">
                                    <li class="fa fa-plus"></li>
                                </button>

                            </div>
                            <div ng-show="routineModelAdd.mealNutritions.length < 1">
                                <small class="text-danger">
                                    <strong>Importante,</strong> está creando una rutina sin dietas.
                                </small>
                            </div>
                            <br>

                            <div class="container">
                                <div class="row">
                                    <button type="button" class="btn btn-sm btn-outline-success margin-light"
                                            ng-repeat="nutritionItem in routineModelAdd.mealNutritions"
                                            ng-click="removeNutrition(nutritionItem.id, 'create')">
                                        {{ nutritionItem.name | cut:true:20:'...'}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ 'commons.close' | translate }}
                    </button>
                    <button type="button" class="btn btn-success"
                            ng-disabled="formValidation.$invalid"
                            data-dismiss="modal" ng-click="createRoutine()">
                        {{ 'commons.add' | translate }}
                    </button>

                </div>

            </div>
        </div>
    </div>
