<div class="modal fade " id="modal-score-routines">
    <div class="modal-dialog modal-success modal-lg">
        <div class="modal-content modal-success">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ 'commons.scoring' | translate}}
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <canvas elem-ready="renderAverageScoring()" id="averageScoring" width="300"
                                height="300"></canvas>
                    </div>
                    <div class="col-lg-6">
                        <canvas elem-ready="renderAllScoring()" id="allScoring" width="300" height="300"></canvas>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'commons.close' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
