<div class="modal fade" id="modal-show-routines">
    <div class="modal-dialog modal-info modal-lg">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ routineSelected.name }} -
                    <small> {{ 'commons.information' | translate }}</small>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                {{ routineSelected.description }}

                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h4> {{ 'commons.exercises' | translate }}</h4>
                        <br>

                        <div class="container">
                            <div class="row">
                                <button type="button" class="btn btn-sm btn-primary margin-light"
                                        ng-repeat="exerciseItem in routineSelected.workoutExercises">
                                    {{ exerciseItem.name | cut:true:20:'...' }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4> {{ 'commons.nutritions' | translate }} </h4>
                        <br>

                        <div class="container">
                            <div class="row">
                                <button type="button" class="btn btn-sm btn-success margin-light"
                                        ng-repeat="nutritionItem in routineSelected.mealNutritions">
                                    {{ nutritionItem.name | cut:true:20:'...' }}
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'commons.close' | translate }}
                </button>
            </div>

        </div>
    </div>
</div>
